/* .row{
  background-color: rgba(0,180,0,0.6);
} */

body{
  align-items: center;
}

hr{
  background-color: white;
  /* opacity: 0.5; */
}

 .About-us{
   text-align: center;
  /* margin-top: 43%; */
  margin-right: 2%;
  margin-left: 2%;
}

.BG{
  height: 700px;
  width:700px;
  /* background-size: cover; */
  margin-left: -5rem;
  border-radius: 50%;
}

.aim{
   margin-top: -2%;
  margin-right: 2%;
  margin-left: 2%;
  text-align: center;
}

.Aboutus{
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 2%;
  margin-bottom: 5%;
  text-align: center;
}

.bg{
  height: 550px;
  width:550px;
  background-size: cover;
  margin-left: 1rem;
  border-radius: 50%;
}

/* .buff{
  opacity: 0;
  margin-top: 7%;
}

.abc{
  width: 100%;
  height: 100%;
  height: 600px;
} */

#logo
{
  height: 50px;
  width: 50px;
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: 50%;
}

 .boot-image{
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

/* .boot-text {
  margin-left: 50px;
  margin-right: 50px;
}  */

@media (min-width:900px) {
  

}

  /* .slider-img{
  text-align: center;
  position: relative;
  width: 100%;
  height: 91%;
  position: absolute;

  background-image: url('https://images.pexels.com/photos/2382904/pexels-photo-2382904.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-size: 100% 100%;
  animation: slider 20s infinite linear;
}
@keyframes slider {
  0%{background-image: image('/Users/gangadhar/Web Development/FarmFresh/logo.jpeg');

    }

  20%{

    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQF0X-KinPIKSlWjxgRN6AC7jPQDCnsLXViQ&usqp=CAU')

  }

  40%{background-image: url('https://images.pexels.com/photos/2148852/pexels-photo-2148852.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')

  }

  60%{

    background-image: url('https://images.pexels.com/photos/3665348/pexels-photo-3665348.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')

  }

  80%{background-image: url('https://images.pexels.com/photos/2321837/pexels-photo-2321837.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')
    }

} */

.img-slider{
  height: 605px;
}

.img-slide-logo{
  border-radius: 30%;
  margin-left: auto;
  margin-right: auto;
}


.fa {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  color: white;

}

.fa:hover {
  color: grey;
}


.copyright{
  background-color: rgba(0,180,0,0.5);
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  color:white;

}

